/* Añadir la importación de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Estilos generales para el encabezado */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #1f1f1f; /* Fondo del encabezado */
  color: #0ea47a; /* Color del texto del encabezado */
  font-family: 'Roboto', sans-serif; /* Fuente tipográfica del encabezado */
}

.logo-img {
  width:200px;
  text-align: center; /* Alinea el logo al centro */
}

.menu {
  display: flex;
  align-items: center;
}

.menu-button {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: #0ea47a; /* Color del texto del botón del menú */
}




  /* Estilos para dispositivos móviles */
  @media only screen and (max-width: 768px) {
    header{
      padding: 10px;
    }

    .logo{
      order: 2; /* Cambia el orden del logo al principio en dispositivos móviles */
    }

    .cart-icon {
      order: 3; /* Cambia el orden del logo al principio en dispositivos móviles */
    }

    .menu{
      order: 1;
    }

    .menu-button {

      font-size: 20px;
      background: none;
      border: none;
      cursor: pointer;
      color: #0ea47a; /* Color del texto del menú en dispositivos móviles */
    }
  
    .menu-items {
      display: flex;
      position: absolute;
      top: 3rem;
      left: 0;
      height: 90vh;
      width: 0%;
      z-index: 10;
      opacity: 0;
      transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
      transition-delay: 100ms;
      background-color: #1f1f1f;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 12px 16px;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
  
  
    .menu-items.show {
      width: 80%;
      opacity: 1;
    }
  
    .menu-items a {
      line-height: 1.5;
      display: block;
      padding: 1rem 0px;
      text-decoration: none;
      color: #0ea47a; /* Color del texto de los enlaces en dispositivos móviles */
    }
  
    .menu-items a:hover {
      background-color: #0ea47a; /* Color de fondo al pasar el ratón sobre los enlaces en dispositivos móviles */
      color: #1f1f1f; /* Color del texto al pasar el ratón sobre los enlaces en dispositivos móviles */
    }

  }
  
  /* Estilos para tablet y escritorio */
  @media only screen and (min-width: 769px) {
    .menu {
      display: flex;
    }
  
    .menu-button {
      display: none;
    }
  
    .menu-items {
      display: flex;
    }
  
    .menu-items a {
      padding: 0 15px;
      text-decoration: none;
      color: #0ea47a; /* Color del texto de los enlaces en tablet y escritorio */
    }
  
    .menu-items a:hover {
      color: #fff; /* Color del texto al pasar el ratón sobre los enlaces en tablet y escritorio */
      border-bottom: 2px solid #0ea47a; /* Color de la línea inferior al pasar el ratón sobre los enlaces en tablet y escritorio */
    }
  }
  