<footer>
    <div class="contact-section">
      <h3>Contacto</h3>
      <p>Email: info@tudominio.com</p>
      <a href="#">Formulario de contacto</a>
      <a href="#">Instagram</a>
    </div>
    <div class="secure-payment-section">
      <h3>Pago Seguro</h3>
      <img src="ruta/a/la/imagen" alt="Pago seguro" />
    </div>
    <div class="useful-links-section">
      <h3>Enlaces de interés</h3>
      <a href="#">Enlace 1</a>
      <a href="#">Enlace 2</a>
      <a href="#">Enlace 3</a>
      <a href="#">Enlace 4</a>
    </div>
  </footer>
  